@import '../../styles/constants.scss';

.page-header {
    background-color: #fff;
    min-height: $header-height;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
